html, body
{   
    /*font*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

    height: 100vh; /*Page is 100% height screen*/
    font-size: 1vw; /* Define font size at the root to use later rem and adapt all screen size easier */
    color: black;
    margin: 0;
}
.PageTopbar
{
    background-color: #A306B6;
}
/* Menu -- Start */
.TopBarMenu 
{
    background-color: #A306B6;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 3rem 0rem 3rem 2rem;
}

.TopBarMenuList
{
    display: flex;
    flex-direction: row;
    list-style: none;
}

li
{
    color: white;
    padding-right: 3rem;
}

#WildCodeSchool_logo
{
    width: 4vw;
}

#UserAvatar
{
    width: 20vw;
    border-radius: 50%;
    background-color: white;
    border: solid white 0.5em;
}
/* Menu -- End */

/* userInfo -- Start */
.userInfo
{
    background-color: #A306B6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-bottom: 2rem;
}

#greeting
{
    font-size: 3rem;
    color: white;
}
/* userInfo -- End */

/*PageContent -- Start*/
.PageContent
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.TitlePageContent
{
    font-size: 3rem;
    color: #A306B6;
}
.articlesWraper
{
    display: flex;
    gap: 1.5rem;
    
}
.article
{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    background-color: #D9D9D9;
    border-radius: 5%;
    padding-bottom: 1rem;
}
.articleImg
{
    width: 20vw;
    height: 25vh;
}

.description
{
    margin-bottom: 3rem;
    max-width: 65ch;
}

.readButton
{
    background: #A306B6;
    border-radius: 50px;
    padding: 0rem 0.8rem 0rem 0.8rem;
    border-style: none;
    font-size: 1rem;
    color: white;
}
/*PageContent -- End*/

/*Footer -- Start*/
footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: gray;
}

.InfoFooter
{
    text-align: center;
}

/*Footer -- End*/



@media screen and (max-width : 992px)
{
/* Menu -- Start */
    .TopBarMenu
    {
        align-items: center;
        flex-direction: column;
    }
    #WildCodeSchool_logo
    {
        padding-top: 4rem;
        width: 11vw;
    }
    .TopBarMenu 
    {
        font-size: 4rem;
    }
    .TopBarMenuList
    {
        padding-left: 0rem;
    }
/* Menu -- End */

/* userInfo -- Start */
    .userInfo
    {
        flex-direction: column-reverse;
    }

    #greeting
    {
        font-size: 7rem;
    }

    #UserAvatar
    {
        width: 30vw;
    }
/* userInfo -- End */


    .TitlePageContent
    {
        font-size: 5rem;
    }
    .articlesWraper
    {
        flex-direction: column;
        gap: 4.5rem;
    }
    .article
    {
        width: 75vw;
    }
    .articleImg 
    {
        width : 60vw;
        height : inherit;
    }
    .titleArticle
    {
        font-size: 5rem;
    }
    .readButton
    {
        padding: 1rem 2.8rem 1rem 2.8rem;
        font-size: 3rem;
    }

    .description
    {
        margin: 0rem 5rem 0rem 4rem;
        max-width: inherit;
        font-size: 4rem;
    }

    .description:last-child
    {
        padding-bottom: 10rem;
    }

    .InfoFooter
    {
        font-size: 3rem;
    }
   
}